.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  height: 100vh;
  background-color: #F2F2F2 ;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
}

.logo_place_header {
  width: 154px;
  height: 31px;
  position:absolute;
  z-index:1;
  margin-top: 30px;
  margin-left: 64px;
}

.header__title{
  display: flex;
  align-items: center;
  width: 730px;
  line-height: 96px;
  margin-left: 64px;
  font-size:102px;
  font-weight: bold;
  z-index: 1;
}



.header__subtitle{

  position: absolute;
bottom: 698px;
right: 1375px;
  line-height: 25px;
  font-size:18px;
  font-weight: normal;
  z-index: 1;
}

.header__link{
  color: #2F80ED;
}


.main-illustration{
  position: absolute;
width: 756px;
top: 148px;
left: 230px;
height: 608px;
margin-left: 820px;
z-index: 1;
}



img{
  flex-direction: column-reverse;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
position: absolute;
  top: 64px;
  left:62%;
  right: 0;
  height: 568px;
  width: 568px;
  background:  #2F80ED;
}


.description {
  display: flex;
  min-width: 784px;
  margin-top: 100px;
  align-content: space-between;
  border:1px  #2F80ED solid;
}

.two-columns{
  margin-right: 50px;
  display:flex;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;


}
.main-text{
  position: relative;
}

.brief{
  color: #2F80ED;
  width: 175px;
  height: 200px;
}

.paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}


.digits{
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
 
}
.section-title{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle{
  display: flex;
  justify-content: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}




.table{
  width: 1100px;
  margin-left: auto;
  margin-right: auto;

  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  place-content: space-between;
  flex-flow: column;
  align-items: center;
  
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table_first__column{
  display: flex;
  margin-bottom: 60px;

}

.table_second__column{
  display: flex;
}


.table__cell{

  align-content: space-around;
  margin-left: 30px;
  width: 250px;

}

.feynman{
  display: flex;
  background-color:  #F2F2F2 ;
height: 790px;
margin-top: 100px;
position: relative;
overflow: hidden;

}


.feynman__image{
  display: flex;
  align-self: flex-end;
  margin-top: 145px;

}

.feynman__title{
  position: absolute;
  text-align: center;
  line-height: 1.15;
font-size: 120px;
font-weight: bold;
width: 775px;
margin-top: 100px;
margin-left: 412px;
margin-bottom: 70px;
max-width: 100%;
}

.feynman__subtitle{
  position: absolute;
  width: 97%;
 text-align: center;
 top: 405px;
  line-height: 51px;
font-size: 36px;
font-weight: normal;
}


.feynman__link{
  text-decoration: none;
  color: #2F80ED ;
  position: absolute;
  justify-content: flex-end;
 top: 50%;
  right:48px;
  line-height: 51px;
font-size: 36px;
font-weight: normal;
}



.kaufman{
 overflow: hidden;
 background-color: #000000;
}

.section-title_theme__dark{
   margin-top: 90px;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 1.15;
font-size: 60px;
font-weight: bold;
margin-right: -124px;
margin-top: 90px;
width: 60%;
margin-left: auto;
margin-right: auto;
}
.section-subtitle_theme__dark{
  color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }


/* including elements with key-value modifiers */
.table__cell_theme_dark {
  display: inline-flex;
  position: relative;
  z-index: 1;
  margin-top: 80px;
  margin-right: 20px;
  margin-bottom: 0;
  padding: 10px;
  list-style-type: none ;
  width: 200px;
  color: white;
}

.table_theme__dark{
margin-bottom: 90px;
  width: 1231px;
  margin-right: auto;
  margin-left: auto;
}

.table__heading_theme_dark{
  display: contents;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}


.kaufman__triangle {
  z-index: 0;
  margin-top: -653px;
  margin-left: 865px;
}

.footer{
  
min-height: 350px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.footer__columns{
  display: flex;
  flex-direction: start;
  min-height: 350px;
}

.footer_column__content_copyright{
  flex-basis: 711px;
}

.logo_place_footer{
  position: absolute;
  align-self: center;
  margin-top: -4%;
  margin-left: 10%;
  width: 183px;
  height: 35px;

}

.footer_author{
position: absolute;
  flex-direction: column;
  align-self: flex-end;
  color: white;
  margin-left: 10%;
  margin-bottom: 18px;
  margin-top: 18px;
}


.footer_column__content_social{
  position: relative;
margin-inline: auto;
  flex-direction: column;
  margin-top: 60px;

}


.footer__social-heading{
  color: white;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  
}
.footer__column-link{
  text-decoration: none;
  display: block;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  list-style: none;

}

.footer__social-icons{
  margin-right:10px ;
  display: inline;
  width: 16px;
 
}
.footer_list{
display: flex;
flex-direction: column;
margin-top: 60px;

}